@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
/* font-family: 'Oswald', sans-serif; */

/* 
paleta de colores: 
 #5CAD4A
 #208D45
 #F0F2EB
 #A7CB54
 #0D0D0D
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  color: azure;
}

body {
  background-image: url(images/background3.png);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 300px;
  height: 200px;
  max-width: 1000px;
  max-height: 800px;
  margin: 10px;
}

.title {
  font-size: 1rem;
  text-align: center;
  margin: 20px;
}

.hidden {
  display: none;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  list-style: none;
}

ul li {
  text-align: center;
}

ul li button {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  width: 100px;
  height: 30px;
  border: none;
  border: 2px solid #a7cb54;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #a7cb543d;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.character-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  position: relative;
  margin: 30px auto 0;
  background: linear-gradient(0deg, #000, #272727);
  padding: 10px;
  max-width: 350px;
  gap: 5px;
}

.character-card:before,
.character-card:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #5cad4a,
    #208d45,
    #f0f2eb,
    #a7cb54,
    #0d0d0d,
    #a7cb54,
    #f0f2eb,
    #208d45,
    #5cad4a
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
  border-radius: 15px;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.character-card:after {
  filter: blur(50px);
}

.character-card h2,
p {
  text-align: center;
}

.character-card h2{
  font-size: 2rem;
}

.character-card p{
  font-size: 1rem;
}


.character-card img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
}

.character-card button {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  width: 100px;
  height: 30px;
  border: none;
  border: 2px solid #f5f760;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #a7cb543d;
  margin-top: 5px;
  cursor: pointer;
}

.card h2 {
  text-align: center;
  font-size: 2rem;
}

.card button {
  display: block;
  align-items: center;
  cursor: pointer;
}

.container__pagination {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.container__pagination p{
  font-size: 0.9rem;
}

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
}

.container__pagination button,
input {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  width: 125px;
  height: 30px;
  border: none;
  border: 2px solid #f5f760;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #a7cb543d;
  margin-top: 5px;
}

.container__pagination button{
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
  gap: 15px;
  background-color: #ffffff44;
  margin-top: 20px;
  width: 100%;
}

.footer__socialmedia {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__socialmedia i {
  font-size: 1.5rem;
  cursor: pointer;
}

.footer__copyright {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.footer__copyright p {
  font-size: 1.2rem;
}

.footer__copyright--heart {
  width: 15px;
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes beat {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(0.5);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.5);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

/* Agrego el primer breakpoint para tablet en 481px (hasta 768px) */

@media (min-width: 481px)  and (max-width: 768px) {
  .logo {
    width: 500px;
    height: 400px;
  }

  .title {
    font-size: 1.5rem;
  }

  ul li button {
    font-size: 1.2rem;
    width: 130px;
    height: 35px;
  }

  .character-card h2{
    font-size: 2.3rem;
  }
  
  .character-card p{
    font-size: 1.3rem;
  }

  .container__pagination p{
    font-size: 1.2rem;
  }

  .container__pagination button,
  input {
    font-size: 1.2rem;
    width: 160px;
    height: 35px;
  }

  .footer__socialmedia i {
    font-size: 1.7rem;
  }

  .footer__copyright p {
    font-size: 1.5rem;
  }
}

/* Agrego el segundo breakpoint para notebook en 769px (hasta 1024px) */

@media (min-width: 769px)  and (max-width: 1024px){
  .logo {
    width: 600px;
    height: 400px;
  }

  .title {
    font-size: 1.8rem;
  }

  ul li button {
    font-size: 1.3rem;
    width: 130px;
    height: 35px;
  }

  .character-card h2{
    font-size: 2.3rem;
  }
  
  .character-card p{
    font-size: 1.3rem;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container__pagination p{
    font-size: 1.3rem;
  }

  .container__pagination button, input {
    font-size: 1.3rem;
    width: 180px;
    height: 40px;
  }

  .footer__socialmedia i {
      font-size: 2.5rem;
      cursor: pointer;
    }

  .footer__socialmedia i:hover {
      transform: scale(1.2);
    }

    .footer__copyright p {
      font-size: 1.5rem;
    }
  }


/* Agrego el tercer breakpoint para wide screen en 1025 */

@media (min-width: 1025px) and (max-width: 1899px){

  .logo {
    width: 900px;
    height: 700px;
  }

  .title {
    font-size: 2.5rem;
  }

  ul li button {
    font-size: 2rem;
    width: 180px;
    height: 70px;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .character-card h2{
    font-size: 2.3rem;
  }
  
  .character-card p{
    font-size: 1.3rem;
  }

  .container__pagination p{
    font-size: 1.7rem;
  }

  .container__pagination input {
    width: 180px;
  }

  .container__pagination button {
    font-size: 1.3rem;
    width: 160px;
    height: 40px;
  }

  .footer__socialmedia i {
    font-size: 3.5rem;
    cursor: pointer;
  }

  .footer__socialmedia i:hover{
    transform: scale(1.2);
    color: #f5f760;
  }

  .footer__copyright p {
    font-size: 2rem;
  }

  .footer__copyright--heart {
    width: 22px;
  }
}

@media (min-width: 1900px) and (max-width: 2400px){

  .logo {
    width: 1000px;
    height: 800px;
  }

  .title {
    font-size: 3rem;
    text-align: center;
    margin: 20px;
  }

  ul li button {
    font-size: 2rem;
    width: 180px;
    height: 70px;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container__pagination p{
    font-size: 2.5rem;
  }

  .container__pagination input {
    width: 260px;
    height: 60px;
    font-size: 2rem;
  }

  .container__pagination button {
    font-size: 2rem;
    width: 200px;
    height: 60px;
  }

  .footer__socialmedia i {
    font-size: 4.5rem;
    cursor: pointer;
  }

  .footer__socialmedia i:hover{
    transform: scale(1.4);
    color: #f5f760;
  }

  .footer__copyright p {
    font-size: 4rem;
  }

  .footer__copyright--heart {
    width: 50px;
  }
}

 

  

